body{
    margin: 0;
    font-family: Roboto;
    height: 100vh;
    background-color: #FCFCFC;
}

#content{
    width: 40%;
    margin: 0 auto;

    min-width: 500px;
    max-width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

paper-card{
    margin: 5px 0;
}


.page paper-card, .post paper-card{
    padding: 20px;
}

.page paper-card{
    width: 840px;
    max-width: 100%;
    float: right;
    margin: 5px 2% ;
    margin-top: 100px;
}

.page paper-header-panel{
    justify-content: center;
}

  .page>paper-toolbar{
background-color:  #5c6bc0;

background-position: center;
background-size: cover;

}

/*


paper-toolbar .title, paper-toolbar .paper-tab{
    color: white;
}
*/