body{
    margin: 0;
    font-family: Roboto;
    height: 100vh;
    background-color: #FCFCFC;
}

#content{
    width: 40%;
    margin: 0 auto;
    max-width: 100%;
    min-width: 500px;
    padding: 10px;
    box-sizing: border-box;
}

paper-card{
    margin: 5px 0;
}
/*
paper-toolbar .title, paper-toolbar .paper-tab{
    color: white;
}
*/